# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [ ]:
#pip install geoalchemy2 geopandas shapely

In [26]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 2.6 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp311-cp311-macosx_11_0_arm64.whl size=132988 sha256=2d08c54ba1ecbd921a7406ad866feba5257cc15c3c3f8435ff2ce67e50ea587b
  Stored in directory: /Users/qianzhuoxin/Library/Caches/pip/wheels/ab/34/b9/78ebef1b3220b4840ee482461e738566c3c9165d2b5c914f51
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [27]:
# All import statements needed for the project, for example:

import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db
import psycopg2

from sqlalchemy.orm import declarative_base
from sqlalchemy import create_engine, Column, Integer, String, Float, MetaData, Table,DateTime

In [85]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path(".")
ZIPCODE_DATA_FILE = DATA_DIR / "zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "8ITaLVGKJEzelLCfrNyuIi2rJ"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/resource/"
NYC_DATA_311 = "erm2-nwe9.geojson"
NYC_DATA_TREES = "5rq2-4hqu.geojson"

DB_NAME = "nyc_data1"
DB_USER = "qianzhuoxin"
DB_URL = f"postgresql+psycopg2://{DB_USER}@localhost/{DB_NAME}"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [86]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1: Data Preprocessing

In [30]:
def download_nyc_geojson_data(url, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    filename = DATA_DIR / (url_path.split('/')[-1])
    
    if force or not filename.exists():
        print(f"Downloading {url} to {filename}...")
        response = requests.get(url)
        response.raise_for_status()
        with open(filename, "w") as f:
            json.dump(response.json(), f)
        print(f"Done downloading {url}.")

    else:
        print(f"Reading from {filename}...")

    return filename

In [31]:
def load_and_clean_zipcodes(zipcode_datafile):
    
    gdf = gpd.read_file(zipcode_datafile)
    gdf_cleaned = gdf.dropna()
    
    #normalized data
    gdf_normalized = gdf_cleaned.to_crs(epsg=4326)
    
    return gdf_normalized

In [32]:
def download_and_clean_311_data():
    url = f"{BASE_NYC_DATA_URL}{NYC_DATA_311}?$$app_token={NYC_DATA_APP_TOKEN}&$limit=1000"
    
    filename = download_nyc_geojson_data(url)
    
    df = gpd.read_file(filename)
    columns = ['unique_key', 'created_date', 'incident_zip', 'complaint_type']
    df_selected = df[columns]
    df_cleaned = df_selected.dropna()
    
    return df_cleaned

In [33]:
def download_and_clean_tree_data():
    url = f"{BASE_NYC_DATA_URL}{NYC_DATA_TREES}?$$app_token={NYC_DATA_APP_TOKEN}&$limit=1000"
    
    filename = download_nyc_geojson_data(url)
    
    df = gpd.read_file(filename)
    columns = ['tree_id','zipcode','x_sp', 'y_sp','longitude', 'latitude','spc_common','health','status']
    df_selected = df[columns]
    df_cleaned = df_selected.dropna()

    return df_cleaned

In [34]:
def load_and_clean_zillow_data():
    df = pd.read_csv(ZILLOW_DATA_FILE)
    df_cleaned = df.dropna()
    return df_cleaned

In [35]:
def load_all_data():
    geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [36]:
geodf_zipcode_data['ZIPCODE']=geodf_zipcode_data['ZIPCODE'].astype("string")

In [37]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

Reading from erm2-nwe9.geojson...
Reading from 5rq2-4hqu.geojson...

In [38]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIPCODE     263 non-null    object
 1   BLDGZIP     263 non-null    object
 2   PO_NAME     263 non-null    object
 3   POPULATION  263 non-null    float64
 4   AREA        263 non-null    float64
 5   STATE       263 non-null    object
 6   COUNTY      263 non-null    object
 7   ST_FIPS     263 non-null    object
 8   CTY_FIPS    263 non-null    object
 9   URL         263 non-null    object
 10  SHAPE_AREA  263 non-null    float64
 11  SHAPE_LEN   263 non-null    float64
 12  geometry    263 non-null    geometry
dtypes: float64(4), geometry(1), object(8)
memory usage: 26.8+ KB

In [39]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

,ZIPCODE,BLDGZIP,PO_NAME,POPULATION,AREA,STATE,COUNTY,ST_FIPS,CTY_FIPS,URL,SHAPE_AREA,SHAPE_LEN,geometry
0,11436,0,Jamaica,18681.0,2.269930e+07,NY,Queens,36,081,http://www.usps.com/,0.0,0.0,"POLYGON ((-73.80585 40.68291, -73.80569 40.682..."
1,11213,0,Brooklyn,62426.0,2.963100e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((-73.93740 40.67973, -73.93487 40.679..."
2,11212,0,Brooklyn,83866.0,4.197210e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((-73.90294 40.67084, -73.90223 40.668..."
3,11225,0,Brooklyn,56527.0,2.369863e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((-73.95797 40.67066, -73.95576 40.670..."
4,11218,0,Brooklyn,72280.0,3.686880e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((-73.97208 40.65060, -73.97192 40.650..."

In [40]:
geodf_311_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997 entries, 0 to 999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   unique_key      997 non-null    object
 1   created_date    997 non-null    datetime64[ns]
 2   incident_zip    997 non-null    object
 3   complaint_type  997 non-null    object
dtypes: datetime64[ns](1), object(3)
memory usage: 38.9+ KB

In [41]:
geodf_311_data.head()

  unique_key        created_date incident_zip            complaint_type
0   59551848 2023-11-27 12:00:00        11370         Derelict Vehicles
1   59551851 2023-11-27 12:00:00        10468         Derelict Vehicles
2   59551328 2023-11-27 00:56:00        11217  Traffic Signal Condition
3   59554861 2023-11-27 00:41:00        11429            Adopt-A-Basket
4   59553569 2023-11-27 00:34:00        10474  Traffic Signal Condition

In [42]:
geodf_tree_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 973 entries, 0 to 999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tree_id     973 non-null    object
 1   zipcode     973 non-null    object
 2   x_sp        973 non-null    object
 3   y_sp        973 non-null    object
 4   longitude   973 non-null    object
 5   latitude    973 non-null    object
 6   spc_common  973 non-null    object
 7   health      973 non-null    object
 8   status      973 non-null    object
dtypes: object(9)
memory usage: 76.0+ KB

In [43]:
geodf_tree_data.head()

,tree_id,zipcode,x_sp,y_sp,longitude,latitude,spc_common,health,status
0,180683,11375,1027431.14821,202756.768749,-73.84421522,40.72309177,red maple,Fair,Alive
1,200540,11357,1034455.70109,228644.837379,-73.81867946,40.79411067,pin oak,Fair,Alive
2,204026,11211,1001822.83131,200716.891267,-73.9366077,40.71758074,honeylocust,Good,Alive
3,204337,11211,1002420.35833,199244.253136,-73.93445616,40.71353749,honeylocust,Good,Alive
4,189565,11215,990913.775046,182202.425999,-73.97597938,40.66677776,American linden,Good,Alive

In [44]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 585 entries, 0 to 6556
Columns: 114 entries, RegionID to 2023-09-30
dtypes: float64(105), int64(3), object(6)
memory usage: 525.6+ KB

In [45]:
df_zillow_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1606.206406,...,1994.653463,2027.438438,2042.237444,2049.325559,2016.531345,2023.438976,2031.558202,2046.144009,2053.486247,2055.771355
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1257.814660,...,1749.697900,1738.217986,1747.305840,1758.407295,1758.891075,1762.980879,1771.751591,1779.338402,1795.384582,1799.631140
8,91926,11,77433,zip,TX,TX,Cypress,"Houston-The Woodlands-Sugar Land, TX",Harris County,1332.384333,...,1881.204550,1885.695935,1884.894986,1880.532012,1870.035369,1863.111029,1892.511066,1922.759295,1945.581823,1975.672556
15,62037,19,11226,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,1944.609891,...,2695.164727,2680.683700,2676.791284,2697.414702,2706.080701,2726.381017,2753.966159,2770.403005,2785.320137,2762.435713
17,70829,21,30044,zip,GA,GA,Lawrenceville,"Atlanta-Sandy Springs-Alpharetta, GA",Gwinnett County,1157.569878,...,2125.698496,2113.964250,2170.556028,2160.008767,2191.894968,2181.780560,2161.711011,2117.990720,2119.319392,2055.476496

## Part 2: Storing Data

In [87]:
!createdb {DB_NAME}

In [88]:
!psql --dbname {DB_NAME} -c 'CREATE EXTENSION postgis;'

CREATE EXTENSION

In [52]:
# def setup_new_postgis_database(username, db_name):
#     conn = psycopg2.connect(dbname="postgres", user=username)
#     conn.autocommit = True
#     cursor = conn.cursor()
#     cursor.execute(f"CREATE DATABASE {db_name}")
#     cursor.close()
#     conn.close()

#     # CREATE EXTENSION postgis
#     engine = create_engine(DB_URL)
#     with engine.connect() as conn:
#         conn.execute("CREATE EXTENSION IF NOT EXISTS postgis")

In [53]:
# setup_new_postgis_database(DB_USER, DB_NAME)

DuplicateDatabase: database "nyc_data1" already exists

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [89]:
engine = db.create_engine(DB_URL)

#### Option 1: SQL

In [90]:
# if using SQL (as opposed to SQLAlchemy), define the SQL statements to create your 4 tables
ZIPCODE_SCHEMA = """
CREATE TABLE IF NOT EXISTS zipcodes
(
    ZIPCODE TEXT PRIMARY KEY NOT NULL,
    BLDGZIP TEXT, 
    PO_NAME TEXT, 
    POPULATION DOUBLE PRECISION, 
    AREA DOUBLE PRECISION, 
    STATE TEXT,
    COUNTY TEXT,
    ST_FIPS TEXT,
    CTY_FIPS TEXT, 
    URL TEXT, 
    SHAPE_AREA DOUBLE PRECISION, 
    SHAPE_LEN DOUBLE PRECISION,
    geometry GEOMETRY
);
"""

NYC_311_SCHEMA = """
CREATE TABLE IF NOT EXISTS complaints
(
    unique_key TEXT PRIMARY KEY NOT NULL,
    created_date DATE,
    incident_zip TEXT,
    complaint_type TEXT
);
"""

NYC_TREE_SCHEMA = """
CREATE TABLE IF NOT EXISTS trees
(
    tree_id INTEGER PRIMARY KEY NOT NULL,
    zipcode TEXT,
    x_sp NUMERIC,
    y_sp NUMERIC,
    longitude NUMERIC,
    latitude NUMERIC,
    spc_common TEXT,
    health TEXT,
    status TEXT
);
"""

ZILLOW_SCHEMA = """
CREATE TABLE IF NOT EXISTS rents
(
    region_id INTEGER PRIMARY KEY NOT NULL,
    region_name TEXT,
    SizeRank INTEGER,
    Region_type TEXT,
    StateName TEXT,
    State TEXT,
    City TEXT,
    Metro TEXT,
    CountryName TEXT,
    "2015-01-31" FLOAT,
    "2015-02-28" FLOAT,
    "2015-03-31" FLOAT,
    "2015-04-30" FLOAT,
    "2015-05-31" FLOAT,
    "2015-06-30" FLOAT,
    "2015-07-31" FLOAT,
    "2015-08-31" FLOAT,
    "2015-09-30" FLOAT,
    "2015-10-31" FLOAT,
    "2015-11-30" FLOAT,
    "2015-12-31" FLOAT,
    "2016-01-31" FLOAT,
    "2016-02-29" FLOAT,
    "2016-03-31" FLOAT,
    "2016-04-30" FLOAT,
    "2016-05-31" FLOAT,
    "2016-06-30" FLOAT,
    "2016-07-31" FLOAT,
    "2016-08-31" FLOAT,
    "2016-09-30" FLOAT,
    "2016-10-31" FLOAT,
    "2016-11-30" FLOAT,
    "2016-12-31" FLOAT,
    "2017-01-31" FLOAT,
    "2017-02-28" FLOAT,
    "2017-03-31" FLOAT,
    "2017-04-30" FLOAT,
    "2017-05-31" FLOAT,
    "2017-06-30" FLOAT,
    "2017-07-31" FLOAT,
    "2017-08-31" FLOAT,
    "2017-09-30" FLOAT,
    "2017-10-31" FLOAT,
    "2017-11-30" FLOAT,
    "2017-12-31" FLOAT,
    "2018-01-31" FLOAT,
    "2018-02-28" FLOAT,
    "2018-03-31" FLOAT,
    "2018-04-30" FLOAT,
    "2018-05-31" FLOAT,
    "2018-06-30" FLOAT,
    "2018-07-31" FLOAT,
    "2018-08-31" FLOAT,
    "2018-09-30" FLOAT,
    "2018-10-31" FLOAT,
    "2018-11-30" FLOAT,
    "2018-12-31" FLOAT,
    "2019-01-31" FLOAT,
    "2019-02-28" FLOAT,
    "2019-03-31" FLOAT,
    "2019-04-30" FLOAT,
    "2019-05-31" FLOAT,
    "2019-06-30" FLOAT,
    "2019-07-31" FLOAT,
    "2019-08-31" FLOAT,
    "2019-09-30" FLOAT,
    "2019-10-31" FLOAT,
    "2019-11-30" FLOAT,
    "2019-12-31" FLOAT,
    "2020-01-31" FLOAT,
    "2020-02-29" FLOAT,
    "2020-03-31" FLOAT,
    "2020-04-30" FLOAT,
    "2020-05-31" FLOAT,
    "2020-06-30" FLOAT,
    "2020-07-31" FLOAT,
    "2020-08-31" FLOAT,
    "2020-09-30" FLOAT,
    "2020-10-31" FLOAT,
    "2020-11-30" FLOAT,
    "2020-12-31" FLOAT,
    "2021-01-31" FLOAT,
    "2021-02-28" FLOAT,
    "2021-03-31" FLOAT,
    "2021-04-30" FLOAT,
    "2021-05-31" FLOAT,
    "2021-06-30" FLOAT,
    "2021-07-31" FLOAT,
    "2021-08-31" FLOAT,
    "2021-09-30" FLOAT,
    "2021-10-31" FLOAT
    
);
"""

In [91]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [92]:
with open(DB_SCHEMA_FILE,mode='r') as f:
    schema = f.read()
with engine.connect() as conn:
    conn.execute(schema)

#### Option 2: SQLAlchemy

In [ ]:
# Base = declarative_base()

# class Tree(Base):
#     __tablename__ = "trees"

#     ...

In [ ]:
# Base.metadata.create_all(engine)

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### Option 1: SQL

In [93]:
def write_dataframes_to_table(tablename_to_dataframe):
    engine = create_engine(DB_URL) 
    for tablename in tablename_to_dataframe:
        if tablename == "zipcodes":
            geodf_zipcode_data.to_postgis(tablename, engine,if_exists="replace") 
        else:
            tablename_to_dataframe[tablename].to_sql(tablename, engine, if_exists= 'replace')

In [94]:
tablename_to_dataframe = {
    "zipcodes": geodf_zipcode_data,
    "complaints": geodf_311_data,
    "trees": geodf_tree_data,
    "rents": df_zillow_data,
}

In [95]:
write_dataframes_to_table(tablename_to_dataframe)

#### Option 2: SQLAlchemy

In [ ]:
# Session = db.orm.sessionmaker(bind=engine)
# session = Session()

In [ ]:
# for row in geodf_tree_data.iterrows():
#     tree = Tree(...)
#     session.add(tree)

In [ ]:
# session.commit()

## Part 3: Understanding the Data

### Query 1

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    raise NotImplementedError()

In [ ]:
QUERY_1_FILENAME = QUERY_DIR / "FILL_ME_IN"

QUERY_1 = """
FILL_ME_IN
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)